@charset "UTF-8";

/************************************************/
/*					Google Font					*/
/************************************************/
.kaisei-opti-regular {
	font-family: "Kaisei Opti", serif;
	font-weight: 400;
	font-style: normal;
}


/***********************************************/
/*					共通部分					*/
/***********************************************/
/* html設定 */
.html {
	font-size: 100%;
}

/* ハイパーリンクの装飾オフ */
a {
	text-decoration: none;
}

/* body全体 */
body {
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
	line-height: 1.7;
	color: #432;
	margin: 0;
}

/* ロゴ */
.logo {
	width: 210px;
	border-radius: 50px;
}

/* 画像全体 */
img {
	max-width: 100%;
}

/* テキスト中央ぞろえ */
.align-center {
	text-align: center;
}

/* Wrapper */
.wrapper {
	margin: auto;
	padding: 1.5rem 1.5rem;
}

/* 見出し(large) */
.heading-large {
	font-size: 3rem;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

/************* ヘッダ *************/
/* ヘッダ画像設定 */
.cover-setting {
	background-size: cover;
	background-position: center top;
	height: 100vh;
}

/* ヘッダFlexbox */
.page-header {
	display: flex;
	justify-content: space-between;
}

/* ナビゲーション */
.main-nav {
	display: flex;
	justify-content: center;
	gap: 2.5rem;
	font-size: 2.2rem;
	list-style: none;
}
.main-nav a {
	color: #432;
	transition: 0.2s;
}
.main-nav a:hover {
	color: darkseagreen;
}
.main-nav li{
	transition: 0.2s;
}
.main-nav li:hover {
	rotate: 5deg;
}

/************ フッタ ************/
.copyright {
	background-color: darkolivegreen;
	text-align: center;
	color: azure;
	margin-top: 5rem;
	padding: 2rem 0;
}


/*******************************************/
/*					ホーム					*/
/*******************************************/
/* カバー画像 */
.cover-img-home {
	background-image: url(..//images//background_header.png);
}

/* 紹介文 */
.about {
	max-width: 900px;
	padding: 0 1.5rem;
	margin: 3rem auto 4rem;
}
.about p {
	margin-bottom: 3rem;
}

/* Owner */
.about_owner {
	max-width: 900px;
	display: flex;
	margin: auto;
	gap: 3rem;
}
.owner_name p{
	margin: 0;
	padding: 0;
}
.owner_icon img {
	object-fit: cover;
	aspect-ratio: 1/1;
	width: 600px;
	border-radius: 10px;
	border: 2px solid darkseagreen;
}

/* Infomation */
.info-table{
	width: 100%;
	max-width: 544px;
	margin: auto;
	padding: 0 1.5rem;
	border-spacing: 0;
}
.info-table th,
.info-table td {
	border-bottom: 1px solid rgb(206, 206, 206);
}
.info-table th {
	text-align: center;
	font-weight: normal;
	padding: 1rem;
}
.info-table td {
	padding: 1rem 0;
}
