@charset "UTF-8";

/*******************************************/
/*		モバイル用CSS						*/
/*		：1000px以下で適用					*/
/*******************************************/
@media (max-width: 1000px){

	/***********************************************/
	/*					共通部分					*/
	/***********************************************/
	/* ロゴ画像 */
	.logo {
		width: 100px;
		border-radius: 15px;
	}

	/* ナビゲーション */
	.main-nav {
		display: block;
		font-size: 2rem;
	}
	.main-nav li{
		border-bottom: 1px dashed #432;
		margin-bottom: 0.7rem;
	}

	/* Owner */
	.about_owner {
		display: block;
		padding: 0 1.5rem;
	}
	.owner_icon {
		margin-bottom: 1.5rem;
	}
	.owner_icon img {
		width: 120px;
	}

	/***********************************************/
	/*					ホーム						*/
	/***********************************************/
	/* レイアウト */
	.main-content {
		display: block;
	}
	.column1 {
		width: 100%;
	}
	.column2 {
		width: 100%;
	}

	/* カレンダー */
	.calendar {
		border-bottom: none;
	}
	
	/* Twitterは非表示 */
	.twitter {
		display: none;
	}
}
